@charset "utf-8";
/* CSS Document */


#aqi-chart-wrap{
 position:relative;
 height:600px; 
  border:1px solid black;
  
 	margin:20px auto auto auto;
  width:1200px;
	
	
	}
	
	
hr{
   position:absolute;
   
   margin-bottom:0;
   bottom:0;
   border:0;	
   }	

.hrdiv{
   width:80px;
   height:50px;
   border:1px solid black;
   background:#eee;
   position:absolute;
   margin-top:-60px;	
   margin-left:auto;
   margin-right:auto;
   border-radius:5px;
	}
